.div-1-instruc{
    height: 400px;
    width: 100%;
    background-color: #CA5B5B;
}


.card-notif{
	min-height: 630px;
}


.instruc-img {
	width: 300px;
	height: 300px;
	position: absolute;
	border-radius: 50%;
}

.instrutor-main-info-div{
    margin-top: 13rem;
    font-size: 1.5rem;
}

.gridded-goals3 {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-row-gap: 25px;
	grid-column-gap: 40px;
}

.gridded-goals2 {
	display: grid;
	grid-template-columns: 500px 500px;
	grid-row-gap: 25px;
}

.gridded-goals2tt{
	display: grid;
	grid-template-columns: 250px auto;
	grid-row-gap: 25px;
}

.card-head{
	height: 200px;
	display: block;
}


.cart-wrapper{
    background-color: #F8ECEC;
    height: 100vh !important;
}



.cart-img{
    width: 500px;
}
.ct-c{
    right: 5%;
    top: 30%;
}

.remove-from-cart {
	color: gray;
	position: absolute;
	right: -8.5rem;
	top: -2.5rem;
	font-size: 2rem;
	cursor: pointer;
}

.link-div a{
    background-color: purple !important;
    color: #fff;
}

.div-1-pr{
	width:21rem;
	position: relative;
	left: 40px;
	background-color: #fff;
}

.div-2-pr{
	height: 800px;
}


.active-h{
	text-shadow: 1px 1px #CA5B5B;
}

.mp-wrapper h2{
	color: #000 !important;
	border-bottom: none;
}

.login-input-div{
	padding: 0 10px;
}

.save{
	background-color: #CA5B5B;
	padding: 10px 15px;
	border-radius: 20px;
	color: #fff;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	border: none !important;
}


.notif-list li::marker{
	color: red !important;
}