.cart-wrapper{
    background-color: #F8ECEC;
}

.right-s-card{
    position: relative;
    top: 30%;
    left: 1%;
}


.to-check:hover{
    color:#fff !important;
}

.cart-img{
    width: 500px;
}
.ct-c{
    right: 5%;
    top: 30%;
}

.remove-from-cart {
	color: gray;
	position: absolute;
	right: -8.5rem;
	top: -2.5rem;
	font-size: 2rem;
	cursor: pointer;
}

.link-div a{
    background-color: purple !important;
    color: #fff;
}


.walletMoney{
    background-color: #CA5B5B !important;
    color: #fff !important;
}
.walletMoney::placeholder{
    color: #fff !important;
}


.or-div::before {
	content: '';
	display: inline-block;
	height: 1px;
	width: 20rem;
	background: gray;
	top: -5px;
	position: relative;
	left: -8px;
}



.or-div::after {
	content: '';
	display: inline-block;
	height: 1px;
	width: 20rem;
	background: gray;
	top: -5px;
	position: relative;
	right: -8px;
}