.swiper-button-next, .swiper-button-prev {
	width: 43px;
	background-size: cover;
}

.swiper-button-next{
    background-image: url('../images/next.png') !important;
}


.swiper-button-prev{
    background-image: url('../images/prev.png') !important;
}


.swiper-button-next::after{
    content: '' !important;
}



.swiper-button-prev::after{
    content: '' !important;
}