.play-wrapper {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	position: absolute;
	background: black;
	display: flex;
	justify-content: center;
	align-items: center;
	color: #fff;
	font-size: 2rem;
	top: 80%;
	cursor: pointer;
	opacity: .7;
	left: 50%;
	transform: translateX(-56%);
}

.play-wrapper:hover{
	opacity: 1;
}

.contianer{
	max-width: 1350px !important;
}




.gridded-goals {
	display: grid;
	grid-template-columns: 300px 300px;
	grid-row-gap: 25px;
}


.gridded-goals2 {
	display: grid;
	grid-template-columns: 600px 600px;
	grid-row-gap: 25px;
}


.gridded-goals2-t {
	display: grid;
	grid-template-columns: 40% 40%;
	grid-column-gap: 10%;
	grid-row-gap: 25px;
}


.gridded-overview {
	display: grid;
	grid-template-columns: auto auto;
	grid-column-gap: 25px;
}



.breadcrumb-item+.breadcrumb-item::before{content:var(--bs-breadcrumb-divider,">") !important ;}

.des-img {
	position: absolute;
	height: 111%;
	left: 33%;
	top: -37px;
}


.cxl{
	max-width: 1300px;
	margin: 0 auto;
}

.top-courses-h{
	height: 180px;
}

.instructor-div .r1{
	width: 50%;
}

.instruc-p-img{
	width: 170px;
	height: 170px;
	border-radius: 50%;
}
.rating-p-img{
	height: 80px;
	width: 80px;
	border-radius: 50%;
}

.rev-col , .rev-col h1, .rev-col  h3{
	color: red;
}
.h-div h5{
	color: gray;
}

/* For Firefox */
progress::-moz-progress-bar {
	background: #F69F0C;
	width: 300px;
}

/* For Chrome or Safari */
progress::-webkit-progress-value {
	background: #F69F0C;
	width: 300px;
} 



.video_section .col-xl-8{
	height: 600px;
}
.video_section video{
	height: 585px;
}

.pager-div h4{
	color: #000 !important;
	cursor: pointer;
}

.hidden{
	display: none;
}

.login-input {
	border: 1.4px solid #58afe1;
	border-radius: 20px;
	padding: 10px;
    margin: 0 20px;

}